:root {
    --Raleway-font: "Raleway",sans-serif;
    --OpenSans-font: "Open Sans",sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --color-grey2: #00000029;
    --font-weight-light: 300;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --standard-font-size: 16px;
}

* {
    box-sizing: border-box;
}

header {
    width: 100vw;
    box-shadow: 0 3px 6px var(--color-grey2);
    background-color: var(--color-white,white);
    display: flex;
    justify-content: center;
}

header > .container {
    width: 1352px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white,white);
    margin: 0 136px;
}

.logo {
    color: var(--color-primary,#08A6E4);
    font-family: var(--Raleway-font,sans-serif);
    font-size: 32px;
    padding: 16px 0 17px 0;
    font-weight: var(--font-weight-light,300);
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu__element {
    height: 70px;
    color: var(--color-grey,grey);
    font-family: var(--OpenSans-font);
    font-size: 11px;
    font-weight: var(--font-weight-semibold,600);
    letter-spacing: 3.28px;
    margin: 0 47.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.header__menu__element:hover {
    color: var(--color-black,black);
    cursor: pointer;
    border-bottom: 4px solid var(--color-primary,#08A6E4);
}

.opening-section {
    height: 712px;
    background-image: url("../assets/Background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 130px 0 0 0;
}

h1 {
    font-family: var(--Raleway-font);
    font-size: 49px;
    color: var(--color-black,black);
    padding: 0 0 20px 0;
    line-height: 57px;
}

.opening-section > p {
    font-family: var(--OpenSans-font,sans-serif);
    font-size: var(--standard-font-size,16px);
    color: var(--color-black,black);
    padding: 0 0 38px 0;
    line-height: 22px;
}

.opening-section > a {
    text-decoration: none;
    font-family: var(--OpenSans-font,sans-serif);
    font-size: var(--standard-font-size,16px);
    font-weight: var(--font-weight-bold,700);
    color: var(--color-white,white);
    background-color: var(--color-primary,#08A6E4);
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 22px;
}

.opening-section > a:hover {
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-white,white);
}

h2 {
    font-family: var(--Raleway-font,sans-serif);
    font-size: 36px;
    line-height: 42px;
    color: var(--color-black,black);
    letter-spacing: 0;
    margin: 100px 0 101px 0;
}

.stats__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 121px 0;
}

.stats__container__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box--daily-entries {
    margin: 0 185px 0 0;
}

.box--seen-products {
    margin: 0 185px 0 0;
}

.box--added-posts {

}

.circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
    margin: 0 0 13px 0;
}

.circle--one {
    background-color: var(--color-redish,#FB3B64);
}

.circle--two {
    background-color: var(--color-primary,#08A6E4);
}

.circle--three {
    background-color: var(--color-green,#55DFB4);
}

.number {
    font-family: var(--Raleway-font,sans-serif);
    font-weight: var(--font-weight-extrabold,800);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    margin: 0 0 19px 0;
}

.box__description {
    font-family: var(--Raleway-font,sans-serif);
    font-size: 17px;
    line-height: 20px;
    color: var(--color-grey,#A5A5A5);
}

.icon1 {
    position: absolute;
    top: 2px;
    left: 30px;
}

.icon2 {
    position: absolute;
    top: 15px;
    left: 25px;
}

.icon3 {
    position: absolute;
    top: 8px;
    left: 28px;
}

.benefits {
    background-color: var(--color-light-grey, #F7F7F7);
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.benefits__box {
    width: 1124px;
    height: 370px;
    background-color: var(--color-white,white);
    display: flex;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 91px 35px;
}

.benefits--box1 {
    display: flex;
    justify-content: space-between;
}

.benefits--box2 {
    display: flex;
    justify-content: space-between;
}

.benefits--box3 {
    background-color: var(--color-light-grey, #F7F7F7);
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.benefits--box--container {
    position: relative;
}

.benefits__description {
    width: 40%;
}

.benefits__description_h1 {
    width: 60%;
    font-family: var(--Raleway-font,sans-serif);
    font-size: 36px;
    line-height: 42px;
    text-align: left;
}

.benefits__description_p {
    font-family: var(--OpenSans-font,sans-serif);
    font-size: var(--standard-font-size);
    line-height: 22px;
    text-align: left;
    width: 80%;
}

.description-box1::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--color-redish,deeppink);
    margin: 40px 0 0 0;
    width: 300px;
}

.benefits--laptop {
    width: 386px;
    height: 219px;
    z-index: 1;
    position: absolute;
    top: 9px;
    right: 100px;
}

.benefits__figure1 {
    width: 200px;
    height: 200px;
    background-color: var(--color-redish,deeppink);
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    z-index: 0;
    top: -39px;
    right: 78px;
}

.benefits--phone {
    width: 426px;
    height: 328px;
    position: absolute;
    top: -54px;
    left: 3px;
    z-index: 1;
}

.benefits__figure2 {
    width: 320px;
    height: 320px;
    background-color: var(--color-primary, #08A6E4);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: -70px;
    left: 3px;
}

.description-box2::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--color-primary,dodgerblue);
    margin: 40px 0 0 0;
    width: 300px;
}

.description-box3 {
    background-color: var(--color-white,white);
    width: 623px;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 0;
}

.description-box3::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--color-green,mediumspringgreen);
    margin: 40px 0 0 36px;
    width: 300px;
}

.image-container {
    width: 440px;
    height: 370px;
    background-color: var(--color-green,mediumspringgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(232, 233, 237, 1);
    border-radius: 5px;
}

.trumpet {
    width: 296px;
    height: 208px;
}

.h1-box3 {
    margin: 70px 0 0 35px;
}

.p-box3 {
    margin: 0 36px;
}

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; //sprawdzićczytegonieusunąć
}

.pricing__container > h1 {
    font-size: 36px;
    font-family: var(--Raleway-font,sans-serif);
    margin: 100px 0 50px 0;
    padding: 0;

}

.pricing__box__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1266px;
    height: 500px;
    margin: 0 0 179px 0;
}

.pricing__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--color-redish,deeppink);
    border-radius: 18px;
    width: 30%;
    height: 92%;
    position: relative;
}

.pricing__box2 {
    height: 100%;
    width: 32%;
    border: 1px solid var(--color-primary,dodgerblue);
    box-shadow:  5px 10px 27px var(--color-primary-shadow);
}

.pricing__box3 {
    border: 1px solid var(--color-green,mediumspringgreen);
}

.pricing__description {
    display: flex;
    flex-direction: column;
}

.pricing__box > p:first-child {
    font-size: 20px;
    font-family: var(--Raleway-font,sans-serif);
    font-weight: var(--font-weight-bold);
    line-height: 1px;
}

.pricing__box > p:nth-of-type(3) {
    font-size: 12px;
    line-height: 1px;
    font-family: var(--Raleway-font,sans-serif);
    font-weight: var(--font-weight-bold);
}

.pricing__box > p:nth-of-type(2) {
    font-size: 46px;
    line-height: 2px;
    font-family: var(--OpenSans-font,sans-serif);
    font-weight: var(--font-weight-light);
}

.pricing__box > ul > li {
    font-size: 14px;
    line-height: 41px;
    font-family: var(--OpenSans-font,sans-serif);
    display: flex;
    align-items: center;
}

.pricing__box > ul > li::before {
    content: " ";
    background-image: url("../assets/Ckechmark-1.svg");
    height: 11px;
    width: 11px;
    padding: 0 10px 0 0;
    background-repeat: no-repeat;
}

.pricing__box1 > ul > li:nth-of-type(4)::before {
    content: " ";
    background-image: url("../assets/Close.svg");
    height: 11px;
    width: 11px;
    padding: 0 10px 0 0;
    background-repeat: no-repeat;
}

.pricing__box1 > ul > li:nth-of-type(5)::before {
    content: " ";
    background-image: url("../assets/Close.svg");
    height: 11px;
    width: 11px;
    padding: 0 10px 0 0;
    background-repeat: no-repeat;
}

.pricing__box2 > ul > li:nth-of-type(5)::before {
    content: " ";
    background-image: url("../assets/Close.svg");
    height: 11px;
    width: 11px;
    padding: 0 10px 0 0;
    background-repeat: no-repeat;
}

.pricing__box1 > p:nth-of-type(2) {
    color: var(--color-redish,deeppink);
}

.pricing__box2 > p:first-child {
    font-size: 21px;
}

.pricing__box2 > p:nth-of-type(2) {
    color: var(--color-primary,dodgerblue);
}

.pricing__box3 > p:nth-of-type(2) {
    color: var(--color-green,mediumspringgreen);
}

.pricing__box__button {
    color: var(--color-white);
    font-size: 13px;
    font-family: var(--OpenSans-font);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    border-radius: 23px;
    padding: 16px 57px;
}

.pricing__button1 {
    background-color: var(--color-redish);
    position: absolute;
    bottom: -22px;
    left: 111px;
}

.pricing__button2 {
    background-color: var(--color-primary);
    padding: 16px 64px 16px 65px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    position: absolute;
    bottom: -22px;
    left: 115px;
}

.pricing__button3 {
    background-color: var(--color-green);
    position: absolute;
    bottom: -22px;
    left: 111px;
}

.form {
    margin: 155px 0 59px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__main__container {
    display: flex;
    justify-content: space-between;
    width: 896px;
}

.form__containter {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form__container1 > h4 {
    font-family: var(--Raleway-font);
    font-size: 49px;
    line-height: 57px;
    padding: 0 0 22px 0;
    width: 100%;
}

.form__container1 > span {
    font-family: var(--OpenSans-font);
    font-size: var(--standard-font-size);
    line-height: 22px;
    padding: 0 0 42px 0;
}

.contact__information {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.contact__information > span {
    font-family: var(--OpenSans-font);
    font-size: var(--standard-font-size);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey);
    line-height: 22px;
}

.contact__info {
    display: flex;
    gap: 10px;
}

.contact__phone {
    white-space: nowrap;
}

.contact__mail::before {
    content: url("../assets/Mail Icon.svg");
    height: 27px;
    width: 27px;
    top: 0;
    left: -36px;
}

.contact__phone::before {
    content: url("../assets/Phone Icon.svg");
    height: 27px;
    width: 27px;
    top: 0;
    left: -36px;
}

.form__information {
    font-family: var(--OpenSans-font);
    font-size: 11px;
    font-weight: var(--font-weight-bold);
    line-height: 15px;
    color: var(--color-primary);
    letter-spacing: 3.28px;
}

.form__information__input {
    border: none;
    border-bottom: 2px solid var(--color-grey);
    margin: 0 0 30px 0;
    padding: 7px;
}

/* .form__checkbox .form__consent__text {
    font-family: var(--OpenSans-font);
    font-size: 12px;
    line-height: 17px;
    color: var(--color-grey);
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
} treść zgody */

.checkboxes {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    background: var(--color-white);
    border: 1px solid var(--color-grey);
}

.checkboxes:checked {
    content: url("../assets/Checkmark.svg");
    width: 12px;
    height: 12px;
    background: var(--color-white);
}

.form__container2 > .btn-primary {
    background-color: var(--color-primary);
    padding: 20px 97px;
    border-radius: 35px;
    color: var(--color-white);
    font-family: var(--OpenSans-font);
    font-weight: var(--font-weight-bold);
    font-size: 13px;
    line-height: 18px;
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
    width: 50%;
    align-self: flex-end;
}

.form__container2 > button:active {
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.5);
}

footer {
    box-shadow: 0px -5px 40px #00000029;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 137px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__logo_text {
    font-family: var(--Raleway-font);
    font-weight: var(--font-weight-light);
    font-size: 26px;
    line-height: 30px;
    color: var(--color-primary);
}

.footer__logo__info {
    font-family: var(--OpenSans-font);
    font-size: 11px;
    line-height: 15px;
    color: var(--color-grey);
}

.footer__link1 {
    background-image: url("../assets/Twitter.svg");
    height: 24px;
    width: 24px;
}

.footer__link2 {
    background-image: url("../assets/Facebook.svg");
    height: 24px;
    width: 24px;
}