:root {
    --Raleway-font: "Raleway",sans-serif;
    --OpenSans-font: "Open Sans",sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --color-grey2: #00000029;
    --font-weight-light: 300;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --standard-font-size: 16px;
}

* {
    box-sizing: border-box;
}

header {
    width: 100vw;
    box-shadow: 0 3px 6px var(--color-grey2);
    background-color: var(--color-white,white);
    display: flex;
    justify-content: center;
}

header > .container {
    width: 1352px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white,white);
    margin: 0 136px;
}

.logo {
    color: var(--color-primary,#08A6E4);
    font-family: var(--Raleway-font,sans-serif);
    font-size: 32px;
    padding: 16px 0 17px 0;
    font-weight: var(--font-weight-light,300);
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu__element {
    height: 70px;
    color: var(--color-grey,grey);
    font-family: var(--OpenSans-font);
    font-size: 11px;
    font-weight: var(--font-weight-semibold,600);
    letter-spacing: 3.28px;
    margin: 0 47.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.header__menu__element:hover {
    color: var(--color-black,black);
    cursor: pointer;
    border-bottom: 4px solid var(--color-primary,#08A6E4);
}

.opening-section {
    height: 712px;
    background-image: url("../assets/Background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 130px 0 0 0;
}

h1 {
    font-family: var(--Raleway-font);
    font-size: 49px;
    color: var(--color-black,black);
    padding: 0 0 20px 0;
    line-height: 57px;
}

.opening-section > p {
    font-family: var(--OpenSans-font,sans-serif);
    font-size: var(--standard-font-size,16px);
    color: var(--color-black,black);
    padding: 0 0 38px 0;
    line-height: 22px;
}

.opening-section > a {
    text-decoration: none;
    font-family: var(--OpenSans-font,sans-serif);
    font-size: var(--standard-font-size,16px);
    font-weight: var(--font-weight-bold,700);
    color: var(--color-white,white);
    background-color: var(--color-primary,#08A6E4);
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 22px;
}

.opening-section > a:hover {
    cursor: pointer;
}

