@import "generic/reset";

@import "elements/header";
@import "elements/opening-section";
@import "elements/statistics-section";
@import "elements/benefits-section";
@import "elements/pricing-section";
@import "elements/form-section";
@import "elements/footer";

@import "settings/variables";
@import "settings/mixins";

* {
  box-sizing: border-box;
}

body {
  color: $color-black;
  font-size: 16px;
  background-color: $background-primary-color;
}

