@import "scss/settings/variables";
@import "scss/settings/mixins";

.benefits {
  background-color: $-color-light-grey;
  height: 1395px;
  @include flexColumn;
  justify-content: space-evenly;
  align-items: center;
}

.benefits__box {
  width: 1124px;
  height: 370px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 91px 35px;
  &__box3 {
  background-color: var(--color-light-grey, #F7F7F7);
  border: none;
  padding: 0;
  }
}

.benefits--box--container {
  position: relative;
}

.benefits__description {
  width: 40%;
}

.benefits__description_h1 {
  width: 60%;
  font-family: var(--Raleway-font,sans-serif);
  font-size: 36px;
  line-height: 42px;
  text-align: left;
}

.benefits__description_p {
  font-family: var(--OpenSans-font,sans-serif);
  font-size: var(--standard-font-size);
  line-height: 22px;
  text-align: left;
  width: 80%;
}

.description-box1::after {
  content: "";
  display: block;
  height: 3px;
  background: var(--color-redish,deeppink);
  margin: 40px 0 0 0;
  width: 300px;
}

.benefits--laptop {
  width: 386px;
  height: 219px;
  z-index: 1;
  position: absolute;
  top: 9px;
  right: 100px;
}

.benefits__figure1 {
  width: 200px;
  height: 200px;
  background-color: var(--color-redish,deeppink);
  border-radius: 41px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  z-index: 0;
  top: -39px;
  right: 78px;
}

.benefits--phone {
  width: 426px;
  height: 328px;
  position: absolute;
  top: -54px;
  left: 3px;
  z-index: 1;
}

.benefits__figure2 {
  width: 320px;
  height: 320px;
  background-color: var(--color-primary, #08A6E4);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -70px;
  left: 3px;
}

.description-box2::after {
  content: "";
  display: block;
  height: 3px;
  background: var(--color-primary,dodgerblue);
  margin: 40px 0 0 0;
  width: 300px;
}

.description-box3 {
  background-color: var(--color-white,white);
  width: 623px;
  height: 370px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin: 0;
}

.description-box3::after {
  content: "";
  display: block;
  height: 3px;
  background: var(--color-green,mediumspringgreen);
  margin: 40px 0 0 36px;
  width: 300px;
}

.image-container {
  width: 440px;
  height: 370px;
  background-color: var(--color-green,mediumspringgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(232, 233, 237, 1);
  border-radius: 5px;
}

.trumpet {
  width: 296px;
  height: 208px;
}

.h1-box3 {
  margin: 70px 0 0 35px;
}

.p-box3 {
  margin: 0 36px;
}
